body
{
  padding-top: 50px;
  background: url("bg.jpg") no-repeat center fixed;
  background-size: cover;
  
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #3f51b5;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

.navbar-inverse {
	background-image: linear-gradient(to bottom,#92b7fe 0,#3f51b5 100%);
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}